.activity {
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: .7fr 5fr 8fr 3fr .5fr;
  cursor: pointer;
  margin: .4rem 0;

  .title {
    font-size: .9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 0;

    .tag {
      background: rgba(255,255,255,.9);
      border-radius: 4px;
      padding: .2rem;
      color: #121212;
      font-size: .8rem;
      margin-left: .5rem;
    }
  }
  .title-container {
    margin: 0 1.5rem;
  }
  .status-icon {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1.5rem;

    .section-label {
      font-size: .75rem;
      font-weight: 400;
      margin-bottom: .2rem;
    }
  }
  .progress-container {
    .section-label {
    }
  }

  .time-container {
    time {
      font-size: .9rem;
      font-weight: 700;
    }
  }

  .drop-down-button {
    font-size: 1.5rem;
    color: rgba(255,255,255,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    border: none;
    opacity: 0;
    transition: 50ms all ease-out;
    margin: 0 .75rem;
    cursor: pointer;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover .drop-down-button {
    opacity: 1;
  }
}