.activity {
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: .7fr 6fr 7fr 2fr .5fr;
  cursor: pointer;
  margin: .4rem 0;
  transition: 150ms all ease;
  height: auto;

  &.expanded {
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin: .4rem 0;
    display: block;
    cursor: default;

    .title {
      font-weight: 900;
      font-size: 2rem;

      .block-title {
        flex-grow: 1;
        display: flex;

        .status-icon {
          margin-right: 1.5rem;
        }
      }

      .tag {
        background: rgba(255,255,255,.9);
        border-radius: 4px;
        padding: .2rem;
        color: #121212;
        font-size: .8rem;
        font-weight: 400;
        margin-left: .5rem;
      }
    }

    .progress-field {
      margin: 1.5rem 0;

      .section-label {
        font-size: .95rem;
        font-weight: 500;
      }
      .progress-container {
        display: flex;
        align-items: center;
        margin-top: .4rem;

        .progress {
          flex-grow: 1;
        }
        .complete-percentage {
          margin: 0 1rem 0 .5rem;
          font-weight: 700;
          font-size: .9rem;
          text-align: left;
          color: rgba(255,255,255,.8);
        }
        .download-speed {
          font-size: .9rem;
          color: rgba(230,230,252, .9);
          font-weight: 500;
          margin-left: .67rem;
          width: 4vw;
          text-align: center;
        }
        time {
          text-transform: capitalize;
          margin-left: 1rem;
          font-weight: 700;
          font-size: .9rem;
          color: rgba(255,255,255,.6);
          width: 8vw;
          text-align: center;
        }
      }
    }

    .announce-and-files {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;

      .list {
        background: rgba(255,255,255,.1);
        margin: .5rem;

        .list-header {
          font-weight: 700;
          font-size: .9rem;
          color: #FFFFFF;
          margin: .2rem 16px;
          letter-spacing: 1px;
        }

        .file-progress {
          display: flex;
          align-items: center;

          .percentage {
            font-size: .8rem;
            margin-right: .4rem;
            width: 40px;
            color: rgba(255,255,255,.4);
            text-align: center;
          }
          .progress-l {
            flex-grow: 1;
          }
        }
      }

      video {
        height: auto;
        width: 100%;
        margin: .4rem;
        border-radius: 4px;
        outline: none;
      }
    }

    .controls-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
    }
  }

  .title {
    font-size: .9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;

    .tag {
      background: #E0E0E0;
      border-radius: 4px;
      padding: .2rem;
      color: #121212;
      font-size: .8rem;
      margin-left: .5rem;
    }
  }
  .title-container {
    margin: 0 1.5rem 0 0;
  }
  .status-icon {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1.5rem;

    .section-label {
      font-size: .75rem;
      font-weight: 400;
      margin-bottom: .2rem;
    }
  }
  .progress-container {
    .section-label {
    }
  }

  .time-container {
    time {
      font-size: .9rem;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  .drop-down-button {
    font-size: 1.5rem;
    color: rgba(255,255,255,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    border: none;
    opacity: 0;
    transition: 50ms all ease-out;
    margin: 0 .75rem;
    cursor: pointer;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover .drop-down-button {
    opacity: 1;
  }
}

