.settings-panel {
  margin: .8rem 0;
  border-radius: 4px;
  width: calc(45% - 2rem);
  min-height: 15vh;
  padding: 1rem;

  .panel-title {
    font-size: .9rem;
    font-weight: 500;
    color: rgba(255,255,255,.7);
  }
}