@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,700,900&display=swap');

body {
  margin: 0;
  font-family: Inter, Roboto, Poppins, "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 400;
  background: #222222;
  color: #EDEDED;
}

.util--icon-right-space {
  margin-right: .2rem;
}