.rss-form {
  margin: 0;
  background: #3e3edc;
  padding: 2.5rem;
  border-radius: 13px 13px 0 0;

  .input-group {
    display: flex;
  }

  .submit-button-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .search-tags-container {
    margin: 1.5rem 0 0 0;
    padding-top: 1.5rem;
    position: relative;

    .label {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 400;
      font-size: .85rem;
    }

    .tag {
      margin: 0 .2rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  //input {
  //  display: block;
  //  width: calc(100% - 2.8rem);
  //  background: rgba(0,0,0,.2);
  //  color: #FFFFFF;
  //  padding: .85rem 1.4rem;
  //  font-weight: 500;
  //  font-family: inherit;
  //  font-size: 1rem;
  //  margin: .65em 0;
  //  border: none;
  //}
}